{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact list</h1>

    {# total items count #}
    <div class="count">
        Number item => {{ pagination.getTotalItemCount }}
    </div>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Societe</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Url_site</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# table body #}
        {% for contact in pagination %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.societe }}</td>
                <td>{{ contact.adresse }}</td>
                <td>{{ contact.telephone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.urlsite }}</td>
                <td>{{ contact.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contact_show', { 'id': contact.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
